<style>
  @page  {
    margin: 0;
    size: Legal; /*or width x height 150mm 50mm*/
  }
  table, td, th {
  border: 1px solid black;
}

table {
    width: 64%;
    border-collapse: collapse;
}
  </style>
  <p>REF NO ________________</p>
<p>Sr. No __________</p>
<h3>PLOT DETAILS:</h3>
<div class="col-md-12">
    <div class="row" style="display:flex;margin-bottom:15px; ">
        <div class="col-md-2">
            <label class="control-label">Plot Size: <sub style=" font-size: 9px; ">(RESIDENTAL)</sub> <span class="required">*</span> </label>
        </div> 
        <div class="col-md-10" style="display: inline-flex; position: relative; left: 38px;">
            <div class="col-md-2">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox1">3 MARLA</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox2">5 MARLA</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox3">7 MARLA</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox4">8 MARLA</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox5">10 MARLA</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox6">20 MARLA</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style=" display: flex; margin-bottom:15px;">
        <div class="col-md-2">
            <label class="control-label">Plot Size: <sub style=" font-size: 9px; ">(COMMERCIAL)</sub> <span class="required">*</span> </label>
        </div>
        <div class="col-md-10" style="display: inline-flex; position: relative; left: 31px;">
        <div class="col-md-2">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox7">3 MARLA</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox8">4 MARLA</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox9">5 MARLA</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox10">5.3 MARLA</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox11">8 MARLA</label>
            </div>
        </div>
        
        </div>
    </div>
    <div class="row" style=" display: flex;margin-bottom:15px; ">
        <div class="col-md-2">
            <label class="control-label">Preference of plot: <span class="required">*</span> </label>
        </div>
        <div class="col-md-10" style="display: inline-flex; position: relative; left: 45px;">
          <div class="col-md-2">
              <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option1" required="required">
              <label class="form-check-label" for="inlineCheckbox12">Normal</label>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option1" required="required">
              <label class="form-check-label" for="inlineCheckbox13">Corner <sub>(10% extra charges)</sub></label>
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="option1" required="required">
              <label class="form-check-label" for="inlineCheckbox14">Boulevard <sub>(10% extra charges)</sub></label>
              </div>
          </div>
          <div class="col-md-5">
              <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="option1" required="required">
              <label class="form-check-label" for="inlineCheckbox15">Facing Park <sub>(10% extra charges)</sub></label>
              </div>
          </div>
        </div>
    </div>
</div>
<h3>PERSONAL INFORMATION:</h3>
<div class="col-md-12">

  <div class="row">
      <div class="col-md-12"style=" margin-bottom: 20px; ">
          <div class="form-group">
              <label class="control-label">Name of Applicant:<span class="required">*</span> </label>
              <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Applicant Name" style=" width: 680px; height: 33px; position: relative; left: 28px;    border: 2px solid black; "  />
          </div>
      </div>
      <div class="col-md-12"style=" margin-bottom: 20px; ">
          <div class="form-group">
              <label class="control-label">Father/Husband Name: <span class="required">*</span> </label>
              <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Name"style=" width: 680px; height: 33px;    border: 2px solid black; " />
          </div>
      </div>
  </div>
  <div class="row" style="display: flex;">
      <div class="col-md-12"style=" margin-bottom: 20px; ">
          <div class="form-group">
              <label class="control-label">CNIC #: <sub style="font-size: 9px">(copy attached)</sub> <span class="required">*</span> </label>
              <input type="text"  data-inputmask="'mask': '99999-9999999-9'" maxlength = "12" class="form-control"  placeholder="XXXXX-XXXXXXX-X"  name="cnic" required="" style=" width: 173px; height: 33px; position: relative; left: 34px;    border: 2px solid black; ">
          </div>
      </div>
      <div class="col-md-12"style="margin-bottom: 20px;position: relative;left: 46px; " >
          <div class="form-group">
              <label class="control-label">Passport no: <sub style="font-size: 9px">(copy attached)</sub> <span class="required">*</span> </label>
              <input type="text"  data-inputmask="'mask': '99999-9999999-9'" maxlength = "12" class="form-control"  placeholder="XXXXX-XXXXXXX-X"  name="cnic" required="" style=" width: 173px; height: 33px; position: relative; left: 10px;    border: 2px solid black; ">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12"style=" margin-bottom: 20px; ">
          <div class="form-group">
              <label class="control-label">Email: <span class="required">*</span> </label>
              <u><input type="text"   class="form-control" required="required"   placeholder="sample@email.com"  name="cnic" required="" style=" width: 680px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;margin-left: 104px; "></u>
          </div>
      </div>
      <div class="col-md-12"style=" margin-bottom: 20px; ">
          <div class="form-group">
              <label class="control-label">Mailing Address:  <span class="required">*</span> </label> 
              <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Mailing Address"  required=""style=" width: 680px; height: 33px;    margin-left: 35px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;"/>
          </div>
      </div>
  </div>
  <div class="row" style=" display: flex; ">
      <div class="col-md-4">
          <div class="form-group">
              <label class="control-label">Phone: <span class="required">*</span> </label>
              <input type="text"   class="form-control" required="required"   placeholder="XXXX-XXXXXXX"  name="cnic" required="" style="margin-left: 103px; width: 200px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; ">
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <label class="control-label">Res:  <span class="required">*</span> </label>
              <input maxlength="100" type="text" required="required" class="form-control" style=" width: 200px; height: 33px;   border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; " />
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <label class="control-label">Mobile:  <span class="required">*</span> </label>
              <input maxlength="100" type="text" required="required" class="form-control" placeholder="XXXX-XXXXXXX"style=" width: 200px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; " />
          </div>
      </div>
  </div>
</div>
<h3>NOMINEE INFORMATION:</h3>
<div class="col-md-12">

  <div class="row">
      <div class="col-md-12" style=" margin-bottom: 20px; ">
          <div class="form-group">
              <label class="control-label">Name of Nominee:<span class="required">*</span> </label>
              <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Nominee Name" style=" width: 680px; height: 33px; position: relative; left: 28px;    border: 2px solid black; "  />
          </div>
      </div>
      <div class="col-md-12" style=" margin-bottom: 20px; ">
          <div class="form-group">
              <label class="control-label">Father <br>/Husband Name: <span class="required">*</span> </label>
              <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Name" style=" width: 680px; height: 33px; position: relative; left: 38px;    border: 2px solid black; " />
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12" style=" margin-bottom: 20px; ">
          <div class="form-group">
              <label class="control-label">Nominee CNIC #:<span class="required">*</span> </label>
              <input type="text"  data-inputmask="'mask': '99999-9999999-9'" maxlength = "12" class="form-control"  placeholder="XXXXX-XXXXXXX-X"  name="cnic" required="" style=" width: 680px; height: 33px; position: relative; left: 32px;    border: 2px solid black; " >
          </div>
      </div>
      <div class="col-md-12" style=" margin-bottom: 20px; ">
          <div class="form-group">
              <label class="control-label">Relationship<br> with Applicant: <span class="required">*</span> </label>
              <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Name" style=" width: 680px; height: 33px; position: relative; left: 45px;    border: 2px solid black; " />
          </div>
      </div>
  </div>
</div>
<h3>PAYMENT DETAILS:</h3>
<div class="col-md-12">

  <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-10" style="display: flex;    margin-left: 156px;">
          <div class="col-md-5">
              <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox16" value="option1" required="required">
              <label class="form-check-label" for="inlineCheckbox16">Lump Sum Payment (100%)</label>
              </div>
          </div>
          <div class="col-md-5" style=" margin-left: 135px; ">
              <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox17" value="option1" required="required">
              <label class="form-check-label" for="inlineCheckbox17">Other</label>
              </div>
          </div>
      </div>
  </div>
  <div class="row" style=" display: flex; ">
      <div class="col-md-12"  style=" margin-bottom: 20px; margin-top: 12px; ">
          <div class="form-group">
              <label class="control-label">DD/Pay Order # <span class="required">*</span> </label>
              <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Payorder"  style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; " />
          </div>
      </div>
      <div class="col-md-12"  style=" margin-bottom: 20px;margin-left: 40px;margin-top: 10px; ">
          <div class="form-group">
              <label class="control-label">Cash Receipt #: <span class="required">*</span> </label>
              <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Name" style=" width: 180px; height: 33px; position: relative; left: 28px;   border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;" />
          </div>
      </div>
  </div>
  <div class="row" style=" display: flex; ">
      <div class="col-md-4"  style=" margin-bottom: 20px; ">
          <div class="form-group">
              <label class="control-label">Dated: <span class="required">*</span> </label>
              <input  maxlength="100" type="date" required="required" class="form-control" placeholder="" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "  />
          </div>
      </div>
      <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 50px; ">
          <div class="form-group">
              <label class="control-label">Bank: <span class="required">*</span> </label>
              <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Bank Name" style=" width: 180px; height: 33px; position: relative; left: 28px;  border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; " />
          </div>
      </div>
      <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 45px; ">
          <div class="form-group">
              <label class="control-label">Branch: <span class="required">*</span> </label>
              <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Branch Name" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
          </div>
      </div>
  </div>
    <div class="row" style=" display: flex; margin-top: 30px; ">
      <div class="col-md-4"  style=" margin-bottom: 20px; ">
          <div class="form-group">
            <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
          </div>
      </div>
      <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 50px; ">
          <div class="form-group">
            <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
          </div>
      </div>
      <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 45px; ">
          <div class="form-group">
              <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
          </div>
      </div>
      <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 45px; ">
        <div class="form-group">
            <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
        </div>
      </div>
    </div>
    <div class="row" style=" display: flex ">
      <div class="col-md-4"  style=" margin-bottom: 20px;     margin-left: 56px;">
          <div class="form-group">
            <label class="control-label">Applicant Signature</label>
            
          </div>
      </div>
      <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 80px; ">
          <div class="form-group">
            <label class="control-label">Sales Officer/Rec Agent</label>
           
          </div>
      </div>
      <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 105px; ">
          <div class="form-group">
              <label class="control-label">Manager sales</label>
          </div>
      </div>
      <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 155px; ">
        <div class="form-group">
            <label class="control-label">Date</label>
            
        </div>
      </div>
    </div>
    <hr style="border-top: .75em dotted; width: 63%; height: 0px; border-bottom: 0; border-left: 0; border-right: 0; position: relative; left: -260px;">
</div>
<div class="col-md-12">
  <div class="row" style="display: flex;">
    <p>REF NO ________________</p>
    <p style=" margin-left: 200px; ">Sr. No __________</p>
  </div>
  <div class="row" style="display: flex;">
    <div class="col-md-12"style=" margin-bottom: 20px; ">
      <div class="form-group">
        <label class="control-label" style=" position: relative; top: 10px; ">Name: <span class="required">*</span> </label>
        <input type="text"   class="form-control" required="required"   placeholder=""  name="cnic" required="" style="width: 284px; height: 33px; border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; margin-left: 28px;">
    </div>
    </div>
    <div class="col-md-12"style="margin-bottom: 20px;position: relative;left: 46px; " >
      <div class="form-group">
        <label class="control-label">CNIC #: <sub style="font-size: 9px">(copy attached)</sub> <span class="required">*</span> </label>
        <input type="text"  data-inputmask="'mask': '99999-9999999-9'" maxlength = "12" class="form-control"  placeholder="XXXXX-XXXXXXX-X"  name="cnic" required="" style=" width: 173px; height: 33px; position: relative; left: 34px;    border: 2px solid black; ">
    </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row" style="display:flex;margin-bottom:15px; ">
        <div class="col-md-2">
            <label class="control-label">Plot Size: <sub style=" font-size: 9px; ">(RESIDENTAL)</sub> <span class="required">*</span> </label>
        </div> 
        <div class="col-md-10" style="display: inline-flex; position: relative; left: 38px;">
            <div class="col-md-2">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox1">3 MARLA</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox2">5 MARLA</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox3">7 MARLA</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox4">8 MARLA</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox5">10 MARLA</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox6">20 MARLA</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style=" display: flex; margin-bottom:15px;">
        <div class="col-md-2">
            <label class="control-label">Plot Size: <sub style=" font-size: 9px; ">(COMMERCIAL)</sub> <span class="required">*</span> </label>
        </div>
        <div class="col-md-10" style="display: inline-flex; position: relative; left: 31px;">
        <div class="col-md-2">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox7">3 MARLA</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox8">4 MARLA</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox9">5 MARLA</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox10">5.3 MARLA</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox11">8 MARLA</label>
            </div>
        </div>
        
        </div>
    </div>
    <div class="row" style=" display: flex;margin-bottom:15px; ">
        <div class="col-md-2">
            <label class="control-label">Preference of plot: <span class="required">*</span> </label>
        </div>
        <div class="col-md-10" style="display: inline-flex; position: relative; left: 45px;">
          <div class="col-md-2">
              <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option1" required="required">
              <label class="form-check-label" for="inlineCheckbox12">Normal</label>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option1" required="required">
              <label class="form-check-label" for="inlineCheckbox13">Corner <sub>(10% extra charges)</sub></label>
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="option1" required="required">
              <label class="form-check-label" for="inlineCheckbox14">Boulevard <sub>(10% extra charges)</sub></label>
              </div>
          </div>
          <div class="col-md-5">
              <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox15" value="option1" required="required">
              <label class="form-check-label" for="inlineCheckbox15">Facing Park <sub>(10% extra charges)</sub></label>
              </div>
          </div>
        </div>
    </div>
  </div>
  <h3>PAYMENT DETAILS:</h3>
  <div class="col-md-12">

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10" style="display: flex;    margin-left: 156px;">
            <div class="col-md-5">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox16" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox16">Lump Sum Payment (100%)</label>
                </div>
            </div>
            <div class="col-md-5" style=" margin-left: 135px; ">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox17" value="option1" required="required">
                <label class="form-check-label" for="inlineCheckbox17">Other</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style=" display: flex; ">
        <div class="col-md-12"  style=" margin-bottom: 20px; margin-top: 12px; ">
            <div class="form-group">
                <label class="control-label">DD/Pay Order # <span class="required">*</span> </label>
                <input  maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Payorder"  style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; " />
            </div>
        </div>
        <div class="col-md-12"  style=" margin-bottom: 20px;margin-left: 40px;margin-top: 10px; ">
            <div class="form-group">
                <label class="control-label">Cash Receipt #: <span class="required">*</span> </label>
                <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Name" style=" width: 180px; height: 33px; position: relative; left: 28px;   border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;" />
            </div>
        </div>
    </div>
    <div class="row" style=" display: flex; ">
        <div class="col-md-4"  style=" margin-bottom: 20px; ">
            <div class="form-group">
                <label class="control-label">Dated: <span class="required">*</span> </label>
                <input  maxlength="100" type="date" required="required" class="form-control" placeholder="" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "  />
            </div>
        </div>
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 50px; ">
            <div class="form-group">
                <label class="control-label">Bank: <span class="required">*</span> </label>
                <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Bank Name" style=" width: 180px; height: 33px; position: relative; left: 28px;  border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; " />
            </div>
        </div>
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 45px; ">
            <div class="form-group">
                <label class="control-label">Branch: <span class="required">*</span> </label>
                <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Branch Name" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
            </div>
        </div>
    </div>
      <div class="row" style=" display: flex; margin-top: 30px; ">
        <div class="col-md-4"  style=" margin-bottom: 20px; ">
            <div class="form-group">
              <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
            </div>
        </div>
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 50px; ">
            <div class="form-group">
              <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
            </div>
        </div>
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 45px; ">
            <div class="form-group">
                <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
            </div>
        </div>
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 45px; ">
          <div class="form-group">
              <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
          </div>
        </div>
      </div>
      <div class="row" style=" display: flex ">
        <div class="col-md-4"  style=" margin-bottom: 20px;     margin-left: 56px;">
            <div class="form-group">
              <label class="control-label">Applicant Signature</label>
              
            </div>
        </div>
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 80px; ">
            <div class="form-group">
              <label class="control-label">Sales Officer/Rec Agent</label>
            
            </div>
        </div>
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 105px; ">
            <div class="form-group">
                <label class="control-label">Manager sales</label>
            </div>
        </div>
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 155px; ">
          <div class="form-group">
              <label class="control-label">Date</label>
              
          </div>
        </div>
      </div>
  </div>
</div>
<div class="col-md-12">
  <div class="row">
    <table>
      <tr>
        <th colspan="6" style=" height: 35px; "><u>Payment Plan (PKR)
        </u></th>
      </tr>
      <tr>
        <th>Plot Size
          (Marla)</th>
        <th>Total Price
          (PKR)</th>
        <th style=" width: 14%; ">Booking</th>
        <th>36-Monthly
          Installments</th>
        <th>At Announcement of
          Balloting</th>
        <th>At Announcement of
          Possession</th>
      </tr>
      <tr style="height: 50px !important;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <h3 style="text-align: center;">Terms & Conditions</h3>
    <ol>
        <li>Application form along with pay order, bank draft shall be submitted in favor of DEFENCE CITY at City/Site office. All subsequent payments 
        shall be made as per schedule of payment and same be treated as part of these terms and conditions.</li>
        <li>A plot cannot be surrendered once it is allotted or transferred.</li>
        <li>The exact size and location of the plot will remain tentative and subject to adjustment till demarcation/measurement of the said plot at the time of 
        possession.</li>
        <li>If the allottee fails to pay three successive installments, his provisional allotment will be cancelled. The paid amount shall be refunded after the 
          deduction of 20% of the plot price within 3 months of cancellation, without any interest/markup against paid amount.</li>
        <li>Lump sum or installments payment will be as per the above mentioned payment plan.</li>
        <li>Installments received after due date will only be accepted subject to payment of surcharge @0.05% per day of the due installment.</li>
        <li>Development charges are inclusive in the plot price; however in case of any compulsive conditions customers will be informed.</li>
        <li>Development charges include the cost of main access road, sewerage, water supply and drainage whereas utilities and any other charges shall be obtained later.</li>
        <li> Unexpected increment in development charges may increase the price.</li>
        <li>10% premium will be charged for each preferential location. For example 30% premium will be charged for corner, boulevard location and facing 
          park.</li>
        <li>In addition to the total amount, additional land charges will be applicable in case of extra land area in plot.</li>
        <li>One booking form can be used for seeking allotment of one plot only. For booking of more than one plot, separate forms to be used by the 
          applicant</li>
        <li>All registration, sale agreement/mutation charges etc. or any other government taxes applicable on plot/development shall be borne by the 
          provisional allottee.
          </li>
        <li>For any type of construction prior approval from DEFENCE CITY Design Wing will be mandatory</li>
        <li>In case of any dispute between the provisional allottee and DEFENCE CITY the dispute will be referred to the Administration Committee of 
          DEFENCE CITY, whose decision shall be final and binding on both the parties. The parties do hereby bind to arbitration and exclude the 
          intimation of any civil proceeding before the court of law.</li>
        <li>Every applicant shall abide by the bye-laws, rules and regulations, terms and conditions of DEFENCE CITY for possession, allotment, 
          construction and transfer of plots etc.</li>
        <li>Possession and final allotment of the plot shall be given after all the complete payment(s) has been received including charges levied by 
          DEFENCE CITY from time to time.</li>
        <li>Address given by the applicant in the application form shall be deemed to be proper address for any future correspondence and communication 
          unless updated in DEFENCE CITY.</li>
        <li>Application form will be charged at PKR 500.00 each (non-refundable)
        </li>
        <li>Processing fee (non-refundable) for each 10 Marla residential plot is PKR 5,000.00.</li>
        <li>10% discount will be given on full lump sum payment (100% payment of the cost) as mentioned in this application form. However, the rest of the 
          charges to be levied as mentioned above have to be paid by the applicant as and when applicable.
          </li>
    </ol>
  </div>
</div>
<div class="col-md-10" style="border: 1px solid black;">
  <h3 style="text-align: center;">Declaration</h3>
  <p>I do hereby acknowledge, agree and abide by all the present and future terms and conditions/ rules and regulations made by DEFENCE CITY .</p>
  <div class="row" style="display: flex;">
    <div class="col-md-6">
      <p>Signature of the Applicant:_____________________</p>
    </div>
    <div class="col-md-6">
      <p style=" position: relative; left: 455px; ">Date:_____________________</p>
    </div>
  </div>
  <hr>
  <div class="row" style=" display: flex; margin-top: 30px; ">
    
    <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 140px;">
        <div class="form-group">
          <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
        </div>
    </div>
    <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 155px; ">
        <div class="form-group">
            <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
        </div>
    </div>
    <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 220px; ">
      <div class="form-group">
          <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
      </div>
    </div>
  </div>
  <div class="row" style=" display: flex ">
    
    <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 178px; ">
        <div class="form-group">
          <label class="control-label">Sales Officer/Rec Agent</label>
        
        </div>
    </div>
    <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 223px; ">
        <div class="form-group">
            <label class="control-label">Manager sales</label>
        </div>
    </div>
    <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 326px; ">
      <div class="form-group">
          <label class="control-label">Date</label>
          
      </div>
    </div>
  </div>
</div>