<style>
    @page  {
      margin: 0;
      size: Legal; /*or width x height 150mm 50mm*/
    }
   
    </style>
  <!-- Latest compiled and minified CSS -->
  
  <div class="col-md-12">
      <h2 style="text-align: center;">DEFENCE CITY <br>
          Reminder for due Installment</h2>
          <div class="row" >
            <div class="col-md-6">
                <p>Sr. No._____________________</p>
            </div>
           
        </div>
      <div class="row" style="display: flex;">
          <div class="col-md-6">
              <p>Reference No._____________________</p>
          </div>
          <div class="col-md-6" style="position: relative; left: 128px;">
              <p>Date:_____________________</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12"style=" margin-bottom: 20px; ">
              <div class="form-group">
                  <label class="control-label">Received with thanks from</label>
                  <u><input type="text"   class="form-control" required="required"   placeholder=""  name="cnic" required="" style=" width: 680px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;margin-left: 45px; "></u>
              </div>
          </div>
          <div class="col-md-12"style=" margin-bottom: 20px; ">
              <div class="form-group">
                  <label class="control-label">The sum of Rupees</label> 
                  <input maxlength="100" type="text" required="required" class="form-control" placeholder=""  required=""style=" width: 680px; height: 33px;    margin-left: 89px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;"/>
              </div>
          </div>
          <div class="col-md-12" style="display: flex;">
           
            <div class="col-md-8" style="display: flex;">
                <div class="col-md-1">
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox16" value="option1" required="required">
                    <label class="form-check-label" for="inlineCheckbox16">By cash</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox17" value="option1" required="required">
                    <label class="form-check-label" for="inlineCheckbox17">Cheque</label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox17" value="option1" required="required">
                    <label class="form-check-label" for="inlineCheckbox17">Pay Order</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox17" value="option1" required="required">
                    <label class="form-check-label" for="inlineCheckbox17">Bank Draft No. _______ (*subject to realization of cheque) </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>As part payment of the price in respect of house No.________________</p>
            </div>
            <div class="col-md-6">
                <p>Approximately Measuring ______________ Marla.</p>
            </div>
        </div>
          <p>The undersigned is pleased to inform you that the subject registration measuring ___ <b>Square Yards / 
            Residential Plot</b> in DEFENCE CITY has been transferred in your name with all rights, deposits and liabilities, 
            on existing terms and condition and those which may be enforced in future by DEFENCE CITY or any 
            authority competent to do so.
            
          </p>
          <p><b>Note:</b> Any discrepancy in paper or payments of dues, installments and additional charges etc. subsequently 
            notices by the DEFENCE CITY administration shall be made good by the transferee or his / her heir (s).            
          </p>
      </div>
      <div class="col-md-12" style="display: flex;">
        <div class="col-md-4">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox16" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox16" style=" margin-right: 60px; ">Down Payment</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox17" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox17" style=" margin-right: 60px; ">Installment </label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox18" value="option1" required="required">
            <label class="form-check-label" for="inlineCheckbox18" style=" margin-right: 60px; ">Other (Specify)______________</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Rs.___________________________________</p>
        </div>
    </div>
    <div class="row" style=" display: flex; margin-top: 30px; ">
    
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 140px;">
            <div class="form-group">
              <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
            </div>
        </div>
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 155px; ">
            <div class="form-group">
                <input maxlength="100" type="text" required="required" class="form-control" style=" width: 180px; height: 33px; position: relative; left: 28px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black; "/>
            </div>
        </div>
        
      </div>
      <div class="row" style=" display: flex ">
        
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 178px; ">
            <div class="form-group">
              <label class="control-label" style=" line-height: 2; ">Prepared By: <br> Accounts Executive</label>
            
            </div>
        </div>
        <div class="col-md-4"  style=" margin-bottom: 20px;margin-left: 223px; ">
            <div class="form-group">
                <label class="control-label" style=" line-height: 2; ">Prepared By: <br> Manager Finance</label>
            </div>
        </div>
      
      </div>
  </div>