<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
    @page  {
      margin: 0;
      size: Legal; /*or width x height 150mm 50mm*/
    }
    .control-label{
        font-weight: bold;
    }
    ol.k {list-style-type: lower-alpha;}
    </style>
  <!-- Latest compiled and minified CSS -->
  
  <div class="container">
    <div class="col-md-12">
        <h2 style="text-align: center;">DEFENCE CITY <br>
          CERTIFICATE OF POSSESSION
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6" style=" margin-top: 13px; ">
          Application No: _____________________
        </div>
        <div class="col-md-6" style=" margin-top: 13px; ">
          Dated: _____________________
        </div>
        <div class="col-md-6" style=" margin-top: 13px; ">
          Registration No: _____________________
        </div>
        <div class="col-md-12" style=" margin-top: 13px; ">
          Name: _______________________________________________________________________________________________
        </div>
        <div class="col-md-12" style=" margin-top: 13px; ">
          Address: ______________________________________________________________________________________________
        </div>
        <div class="col-md-12"  style=" margin-top: 13px; ">
          Certified that possession of a plot no. ____ measuring ______sq. yards, street no.___ block ______has been handed over to the
          allottee/attorney on ____(date)____as per sketch below:-
        </div>
        <!--next Row-->
        <div class="row">
            <div class="col-md-2">
                <ol class="k">
                  <li>Right Side</li>
                  <li>Left Side</li>
                  <li>Front Side</li>
                  <li>Back Side</li>
                </ol>
            </div>
            <div class="col-md-2">
              <ol class="k">
                ___’___”__ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ft.
                ___’___”__ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ft.
                ___’___”__ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ft.
                ___’___”__ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ft. 
              </ol>
            </div>
            <div class="col-md-2">
              <ol class="k">
                Bounded by #
                Bounded by #
                Bounded by #
                Bounded by #
              </ol>
            </div>
            <div class="col-md-2">
              <ol class="k">
                Plot No. _________
                Plot No. _________
                Street No.______
                Plot No. _________
              </ol>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <b>Total area _______ Sq Yrds</b>
          <h5 style="font-weight: bold;">POSSESSION HANDED OVER (INCHARGE SURVEYOR)</h5>
          <p>Name: _______________</p>
            <p>Signature: _________________</p>
            <p>Dated:_______________________</p>
        </div>
        <div class="col-md-6">
            _____________ Sq Yards
            <h5 style="font-weight: bold;">HEAD SERVICES/ GM SERVICES</h5>
            <p>Name: _______________</p>
            <p>Signature: _________________</p>
            <p>Dated:_______________________</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5 style="font-weight: bold;">POSSESSION HANDED OVER IN MY PRESENCE</h5>
          <p>Remarks: ______________________________________________________________________________________________</p>
        </div>
        <div class="col-md-8">
          Dated:________________________
        </div>
        <div class="col-md-4">
          <b style=" border-top: 1px solid black; position: relative; top: 14px; ">GM Sales</b>
        </div>
        <ol>On personal inspection of plot I am fully satisfied and do hereby certify that there is no encroachment and no service line is
          passing through / within my plot.
          <li>I confirm that I have received lawful physical possession of above mentioned plot/ property.</li>
          <li>I shall not construct common wall/ compound wall unless prior written permission of the neighbour is obtained and copy
            thereof supplied to GM operations of the DEFENCE CITY.</li>
          <li>I shall abide by laws building regulations of the DEFENCE CITY and shall construct the building on the plot as per plan
            approved by the DEFENCE CITY</li>
          <li>No further construction shall be undertaken unless it is inspected and approved by land survey division of the DEFENCE
            CITY at plinth level.</li>
            <li>If I fail to abide by the above terms and conditions, I bind myself to pay penalty in terms of fine or demotion imposed by
              the DEFENCE CITY in this respect in accordance with its policy</li>
        </ol>
        <p><b>Note: The house is to be constructed within agreed period after possession otherwise fine as per policy shall be
          charged.</b></p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <b>POSSESSION TAKEN OVER</b>
          <b>Signature:_________________</b>
          <b>Name of allottee/attorney:___________________________ CNIC:_________________________</b>
        </div>
      </div>
  </div>