<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
    @page  {
      margin: 0;
      size: Legal; /*or width x height 150mm 50mm*/
    }
    .control-label{
        font-weight: bold;
    }
    </style>
  <!-- Latest compiled and minified CSS -->
  
  <div class="container">
    <div class="col-md-12">
        <h2 style="text-align: center;">DEFENCE CITY <br>
                Procedures Manual Update Notice
        </h2>
      </div>
      <div class="row">
        <div class="col-md-12" style=" border: 2px solid black;padding: 75px; ">
           <p> <b>From: </b> __________________________________________________________________</p><br>
           <p> <b>Manager Sales:</b> ________________________________________________________________________________________</p><br>
           <p> <b>To:</b> ___________________________________________________________________________________________________________________<br>
            <b>Please replace the folowing material in the Sale And  Post SOPs Manual , Which have been amended.</b></p>
            <p> <b>chapter, Clause:</b> __________________________________________________________________________________________________________________</p><br>
            <p><b>Change to:</b> ____________________________________________________________</p>
        </div>
      </div>
  </div>