<style>
    @page  {
      margin: 0;
      size: Legal; /*or width x height 150mm 50mm*/
    }
    .control-label{
        font-weight: bold;
    }
    </style>
  <!-- Latest compiled and minified CSS -->
  
  <div class="col-md-12">
      <h2 style="text-align: center;">DEFENCE CITY <br>
          Reminder for due Installment</h2>
      <div class="row">
          <div class="col-md-6">
              <p>Dated:_____________________</p>
          </div>
          <div class="col-md-6">
              <p >Reg No:_____________________</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12"style=" margin-bottom: 20px; ">
              <div class="form-group">
                  <label class="control-label">Name: </label>
                  <u><input type="text"   class="form-control" required="required"   placeholder=""  name="cnic" required="" style=" width: 680px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;margin-left: 104px; "></u>
              </div>
          </div>
          <div class="col-md-12"style=" margin-bottom: 20px; ">
              <div class="form-group">
                  <label class="control-label">Address: </label> 
                  <input maxlength="100" type="text" required="required" class="form-control" placeholder=""  required=""style=" width: 680px; height: 33px;    margin-left: 89px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;"/>
              </div>
          </div>
          <div class="col-md-12"style=" margin-bottom: 20px; ">
              <div class="form-group">
                  <label class="control-label">Subject:  </label>
                  <b><input type="text"   class="form-control" required="required"   placeholder="" value="Transfer of Registration No. (####) _(_____)’Town, City"  name="cnic" required="" style=" width: 680px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid #fff;margin-left: 102px; font-weight: bold; "></b>
              </div>
          </div>
          <div class="col-md-12"style=" margin-bottom: 20px; ">
              <div class="form-group">
                  <label class="control-label" style="font-weight: bold;">Dear Mr. /Mrs.   </label>
                  <b><input type="text"   class="form-control" required="required"   placeholder="" value="Name"  name="cnic" required="" style=" width: 680px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid #fff;margin-left: 102px; font-weight: bold; "></b>
              </div>
          </div>
          <p>The undersigned is pleased to inform you that the subject registration measuring ___ <b>Square Yards / 
            Residential Plot</b> in DEFENCE CITY has been transferred in your name with all rights, deposits and liabilities, 
            on existing terms and condition and those which may be enforced in future by DEFENCE CITY or any 
            authority competent to do so.
            
          </p>
          <p><b>Note:</b> Any discrepancy in paper or payments of dues, installments and additional charges etc. subsequently 
            notices by the DEFENCE CITY administration shall be made good by the transferee or his / her heir (s).            
          </p>
      </div>
      <div class="col-md-12">
        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Created On:</label>
                    <input  maxlength="100" type="text" required="required" class="form-control" placeholder="" style=" width: 130px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;margin-left: 0px; " />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label"> Approved On:</label>
                    <input maxlength="100" type="text" required="required" class="form-control" placeholder=""style=" width: 130px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;margin-left: 0px; "/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">CC:</label>
                    <input  maxlength="100" type="text" required="required" class="form-control" placeholder=""  style=" width: 130px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;margin-left: 0px; "/>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">CC: <span class="required">*</span> </label>
                    <input maxlength="100" type="text" required="required" class="form-control" placeholder="" style=" width: 130px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;margin-left: 0px; "/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Seller Address: <span class="required">*</span> </label>
                    <input maxlength="100" type="text" required="required" class="form-control" placeholder="" style=" width: 830px; height: 33px;    border-left: 0px; border-top: 0px; border-right: 0px; border-bottom: 2px solid black;margin-left: 0px; "/>
                </div>
            </div>
        </div>
        <div class="row" style="display: flex;">
            <b style="margin-bottom: 12px;">Subject property has been transferred from your name to the name of ______________________ holding 
                CNIC __________________ S/o, D/o, W/o ____________ with all rights deposits and liabilities.
                
                </b>
        </div>
    </div>
      
  
  </div>