<style>
  @page  {
    margin: 0;
    size: Legal; /*or width x height 150mm 50mm*/
  }
  </style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="col-md-12">
    <h2 style="text-align: center;">DEFENCE CITY <br>
        AFFIDAVIT BY THE PURCHASER</h2>
    <div class="row" style="display:flex;margin-bottom:15px; ">
        <div class="col-md-12">
            <p>I, ___________________________________S/O___________________________________ 
                holding CNIC No. __________________ in full possession of faculties & senses and with my free 
                will and without any coercion or duress hereby solemnly affirm and declare as under:</p>
        </div>
    </div>
    <div class="col-md-12">
        <ol>
            <li>That I have purchased a plot file bearing application/membership No.___________ 
                measuring ________ situated in DEFENCE CITY Phase________ from 
                _______________________________________________ along with all rights and 
                liabilities. I undertake to abide by all terms and conditions of allotment of the above said plot 
                file and to comply with all the present and future terms and conditions, rules and regulations 
                of DEFENCE CITY.
            </li>
            <li>To pay all dues, fees, charges etc. payable by the previous owner of the plot file to the 
                DEFENCE CITY or any other Government dues etc. in respect of the above said plot file.</li>
            <li>To use the land for the same purpose for which it was allotted and to comply with all 
                relevant rules and regulations of the DEFENCE CITY.</li>
            <li>
                To pay the DEFENCE CITY any variation in development charges on demand.

            </li>
            <li>That I do hereby acknowledge and agree with the present status of the above said plot file 
                and shall not claim any other plot in lieu of the above said plot file.
            </li>
            <li>
                That I also undertake to pay on demand any other charges as the management of the 
                DEFENCE CITY, may decide from time to time.
            </li>
            <li>
                That I do hereby acknowledge that there is no legal dispute on the above said plot file, if 
any, defend the same in the court of law and DEFENCE CITY shall have no responsibility 
whatsoever in this regard. 

            </li>
        </ol>
        <h3>DEPONENT</h3>
        <p>
            Verified on oath at Lahore on this ____day of (month), (year) that the content of the instant undertaking are 
true and correct to the best of my knowledge and belief.
        </p>
    </div>

</div>