<style>
  @page  {
    margin: 0;
    size: Legal; /*or width x height 150mm 50mm*/
  }
  </style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="col-md-12">
    <h2 style="text-align: center;">DEFENCE CITY <br>
        AFFIDAVIT BY THE SELLER</h2>
    <div class="row" style="display:flex;margin-bottom:15px; ">
        <div class="col-md-12">
            <p>I,__________________S/O_________________R/O______________________________________
                holding CNIC No. __________________________ in full possession of faculties & senses and with free 
                consent without any coercion or duress do hereby solemnly affirm and declare as under:</p>
        </div>
    </div>
    <div class="col-md-12">
        <ol>
            <li>That I have sold a plot file bearing application/ Membership No._________ measuring 
            ___________ (marla) situated in DEFENCE CITY” phase ________ to 
            _______________________________ S/O ______________________________ along with all 
            rights and liabilities.
            </li>
            <li>That I hereby return the original application and allotment letter for the purposes of cancellation 
            relinquishment of above said plot file in favor of __________________________ S/O 
            ______________________________ .</li>
            <li>That having relinquished the above said plot file to DEFENCE CITY for allotment to 
            ______________________________ S/O ________________________. I have conferred 
            exclusive ownership rights of the above said plot file upon the above said transferee.</li>
            <li>
            That I affirm and declare that the name of _____________________________ S/O 
            ____________________ should be entered into the record of DEFENCE CITY as the owner of 
            the aforesaid plot file.

            </li>
            <li>That I do hereby declare that I have no right, title or interest in the aforesaid plot file and 
            _______________________ S/O ________________________ is the exclusive owner of the same 
            since today.
            </li>
            <li>
            That I do hereby acknowledge that there is no legal dispute on the above said plot file, if any, I shall 
            defend the same in the court of law and DEFENCE CITY shall have no responsibility whatsoever in 
            this regard.
            </li>
        </ol>
        <h3>DEPONENT</h3>
        <p>
            Verified on oath at Lahore on this ____day of (month), (year) that the content of the instant affidavit are true 
and correct to the best of my knowledge and belief.
        </p>
    </div>

</div>